@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Permanent+Marker&family=Shadows+Into+Light&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    margin: 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 1rem;
    background-color: rgb(221, 216, 206);
    color: black;
}

.card {
    background-color: rgb(247, 236, 90);
    width: 90%;
    height: 90%;
    margin: auto;
    padding: 1rem;
    padding: auto;
    border: 3px double rgb(160, 158, 71);
    border-radius: .2rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 1rem;
    color: black;
}

.input-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.input-group {
    display: flex;
    align-items: center;

    #input-field {
        flex: 4;
        border-radius: .5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: .5rem;
        font-family: "Nanum Pen Script", cursive;
        font-weight: 600;
        font-style: normal;
        font-size: 1.5rem;
        border: none;
    }

    button {
        flex: 1;
        font-family: inherit;
        font-size: inherit;
        padding: .5rem;
        border-radius: .5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: black;
        color: rgb(247, 236, 90);
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
    }
}

.to-do-list {
    margin-top: 1rem;
    
}

.list-item {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 700;
    font-style: normal;
    color: rgba(0, 0, 0, 0.822);
    font-size: 1.5rem;
    list-style: none;
    position: relative;
    padding-left: 2rem; 
    padding-block: .5rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center; 
    border-bottom: 1px solid gray;
}

.checkbox {
    appearance: none; 
}

.list-text {
    text-align: left;
}

.checkbox::before {
    content: "\f111"; 
    font-family: "Font Awesome 5 Free";
    font-weight: 500;
    display: inline;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    color: #000; /* Change the color as needed */
    cursor: pointer;
}
  
.completed {
    .list-text {
        color: rgb(73, 73, 73);
        font-weight: 400;
        text-decoration: line-through 1px;
    }

    .checkbox::before {
        font-weight: 900;
    }
}

.bin-btn {
    
    cursor: pointer;

    &::after {
        content: "\f2ed"; 
        font-family: "Font Awesome 5 Free";
        font-weight: 500;
        color: #000; /* Change the color as needed */
        cursor: pointer;
        border: none;
        font-size: 1.5rem;
        background-color: transparent;
    }
}